version: '3.1'

services:

  dashboard:
    build: ./dashboard
    ports:
      - 80:80
    command: python3 /app/app.py

  disinfo_api: 
    build: 
      context: .
      dockerfile: ./src/model_api/Dockerfile
      network: host
    ports:
      - 11111:80
      
  match_api: 
    build: 
      context: .
      dockerfile: ./src/matching_api/Dockerfile
      network: host
    ports:
      - 22222:80

